$card-size: 200px;
$rank-size: 32px;
$border-radius: 200px;
$hover-radius: 60px;
$row-gap: 40px;
$column-gap:30px;

$details-c: #2F4F4F;

$pd-1: 4px;
$pd-2: 8px;
$pd-3: 12px;
$pd-4: 16px;
$pd-5: 20px;
$pd-6: 24px;
$pd-7: 28px;
$pd-8: 32px;